/* Footer.module.css */

/* General footer styling */
.footer {
  background-color: #333;
  padding: 2.5rem;
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.footerSubheading {
  font-size: 1.8rem;
  font-weight: 700;
  color: aqua;
}

.footer1 {
  text-align: left;
  color: aqua;
}

.footer1 p {
  margin: 1rem 0 3.2rem 0;
  color: #b4e6ff;
}

/* Social icons styling */
.socialFooterIcons {
  display: flex;
  gap: 1rem;
}
.copyright {
  text-align: center;
  font-size: 1.2rem;
  color: #aaa; /* Adjust color as needed */
}
.socialFooterIcons a {
  width: 3rem;
  height: 3rem;
  background-color: #b4e6ff;
  color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.socialFooterIcons a:hover {
  color: #ebf3fe;
  background-color: aqua;
  transform: rotate(360deg);
}

/* Grid layout for footer content */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  gap: 2rem;
  margin-left: 5rem;
}

/* Styling for list items */
.courseList,
.linkList,
.blogList {
  list-style: none;
  padding: 0;
}

.courseItem,
.linkItem,
.blogItem {
  margin: 5px 0;
}

.link {
  text-decoration: none;
  color: #b4e6ff;
}

.link:hover {
  color: aqua;
}

/* Individual footer sections */
.footer2,
.footer3,
.footer4 {
  text-align: left;
  margin-left: 3rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 820px) {
  .container {
    margin-left: 3rem;
  }
  .footer2,
  .footer3,
  .footer4 {
    margin-top: 2.5rem;
  }
  .socialFooterIcons{
    margin-top: -1rem;
  }
  .copyright{
    text-align: center;
    margin-top: 1rem;
  }
}
/* For tablets and smaller devices */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer1 {
    order: 2;
  }
  .footer {
    text-align: center; /* Center align text on smaller screens */
  }

  .socialFooterIcons {
    display: flex;
    justify-content: center;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .footer {
    margin-left: -7rem;
    text-align: center;
  }
  .footer2,
  .footer3,
  .footer4 {
    margin-top: 0rem;
  }

  .footerSubheading {
    font-size: 1rem; /* Smaller font size on mobile */
  }

  .footer1 p {
    margin: 1rem 0;
  }

  .socialFooterIcons,
  .copyright p {
    margin-top: 1rem;
  }
  .copyright p {
    font-size: 1rem;
    margin-left: 6rem ;
  }
}
