/* Base styles for larger screens */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 0.5rem;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.card {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 16px;
}

.card:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.details {
  padding: 16px;
}

.title {
  font-size: 1.5rem;
  color: aqua;
}

.heading {
  color: aqua;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(180, 230, 255);
  margin: 8px 0;
}

/* Media Query for tablets (max-width: 768px) */
@media (max-width: 820px) {
  .container{
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .projectList {
    grid-template-columns: 1fr 1fr; /* Two columns */
  }

  .card {
    max-width: 100%; /* Expand card width */
  }

  .title {
    font-size: 1.25rem; /* Slightly smaller title */
  }
}

/* Media Query for mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  .container {
    padding: 15px;
    margin-bottom: 2rem;
  }

  .projectList {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
  .heading {
    font-size: 1.8rem;
  }
  .card {
    margin: 8px;
  }

  .title {
    font-size: 1.2rem; /* Smaller title font size */
  }

  .description {
    font-size: 0.9rem; /* Adjust description font size */
  }

  .imageWrapper {
    height: 150px; /* Adjust image height for mobile */
  }
}
